<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-23T07:19:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhuxinye/Desktop/project/home-health/ios/xinlingyisheng/xinlingyisheng.xcodeproj</string>
</dict>
</plist>
